/*import Poppins font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*dark mode*/
:root{
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
  --edit-btn-clr: #a85f1b;
  --danger-clr: #ff4d4d;
  --success-clr: #198754;
  --table-header-bg: #242636;
  --table-stripe-bg: #181924;
  --table-hover-bg: #2e3245;
}
*{
  margin: 0;
  padding: 0;
}
/*font stuffs*/
html{
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}
body{
  min-height: 100vh;
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: grid;
  /*auto for sidebar, 1fr for <main>*/
  grid-template-columns: auto 1fr;
}
#sidebar{
  box-sizing: border-box;
  /*covers top-bottom*/
  min-height: 100vh;
  width: 300px;
  padding: 5px 1em;
  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);
  /*sticks when scrolled*/
  position: sticky;
  top: 0;
  align-self: start;
  /*transition when open/closing*/
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}
/*sidebar when closed*/
#sidebar.close{
  padding: 5px;
  width: 60px;
}
/*sidebar icons*/
#sidebar svg{
  flex-shrink: 0;
  fill: var(--text-clr);
}
#sidebar .img-div{
  width: 50px;
  height: 45px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: min(5px, 7%);
  img {
    max-height: 50px;
  }
}
/*to make sure links/dropdown strecth all the way*/
#sidebar a span, #sidebar .dropdown-btn span, #toggle-mode-btn span, #select-submit span, #select-all span{
  flex-grow: 1;
}
/*links/dropdown hover*/
#sidebar a:hover, #toggle-btn:hover, #sidebar button:not(#toggle-btn):hover{
  background-color: var(--hover-clr);
}
/*dropdown, -default closed*/
#sidebar .sub-menu{
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;
  }
}
/*dropdowns when showed*/
#sidebar .sub-menu.show{
  grid-template-rows: 1fr;
}
/*dropdown up/down arrow transition*/
.dropdown-btn svg{
  transition: 200ms ease-in-out;
}
/*rotate arrow svgs*/
.rotate svg:last-child{
  rotate: 180deg;
}
/*consistency reasons?*/
.sidebar .sub-menu a, .sidebar .sub-menu {
  padding-left: 2em;
}
/*close sidebar btn*/
#toggle-btn{
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: .5em;
  background: none;
  cursor: pointer;

  /*transtition*/
  svg{
    transition: rotate 150ms ease;
  }
}
/*remove the dots on list*/
#sidebar ul{
  list-style: none;
}
/*main logo of links/dropdowns*/
#sidebar > ul > li:first-child{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo{
    font-weight: 600;
  }
}
/*bolds the active page on sidebar*/
#sidebar ul li.active a{
  color: var(--accent-clr);
  svg{
    fill: var(--accent-clr);
  }
}
/*links/dropdown on sidebar*/
#sidebar a, #select div, #sidebar button:not(#toggle-btn), #sidebar .logo, #select-all, #sidebar label{
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}
/*dropdown button --> same appearance as links*/
#sidebar button:not(#toggle-btn), #select-submit, #select-all{
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}
/*main content*/
main{
  /*main p*/
  p{
    color: var(--secondary-text-clr);
    margin-top: 5px;
    margin-bottom: 15px;
  }
}
.container {
  margin: 30px min(30px, 7%);
  h1 {
    margin-bottom: 1em;
  }
  z-index: 1;
}

.btn-container{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.add-btn {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--accent-clr);
  color: var(--text-clr);
  border: none;
  margin-bottom: 1em;
}

.edit-btn {
  font: inherit;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--edit-btn-clr);
  color: var(--text-clr);
  border: none;
  min-width: 40%;
}

.delete-btn {
  font: inherit;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--danger-clr);
  color: var(--text-clr);
  border: none;
  min-width: 40%
}

header {
  height: 100px;
  display: flex;
  padding: 0 min(30px, 7%);
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  border-bottom: 2px solid var(--line-clr);
}

.suc-msg {
  display: flex;
  align-items: center;
  color: var(--success-clr);
  border: 1px solid var(--success-clr);
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(77, 255, 77, 0.1);
  text-align: center;
  font-weight: 500;
  margin-bottom: 1em;
  svg {
    fill: var(--success-clr);
    margin-right: 10px;
  }
}

.err-msg {
  display: flex;
  align-items: center;
  color: var(--danger-clr);
  border: 1px solid var(--danger-clr);
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(255, 77, 77, 0.1);
  text-align: center;
  font-weight: 500;
  margin-bottom: 1em;
  svg {
    fill: var(--danger-clr);
    margin-right: 10px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr, table tfoot tr {
  background-color: var(--table-header-bg);
  text-align: left;
}

table th, table td {
  padding: 12px 15px;
}

table tbody tr:nth-of-type(even) {
  background-color: var(--table-stripe-bg);
}

table tbody tr:nth-of-type(odd) {
  background-color: var(--base-clr);
}

table tbody tr:hover {
  background-color: var(--table-hover-bg);
}