<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>
    <!-- Import jquery -->
    <script type="text/javascript" src="../../../public/scripts/staff/jquery-3.7.1.min.js"></script>
    <!-- import Javascript DataTables-->
    <script type="text/javascript" src="../../../public/scripts/staff/DataTables/datatables.min.js"></script>
    <link rel="stylesheet" href="../../../public/scripts/staff/DataTables/datatables.min.css">
    <!-- Import front-end stuff -->
    <link rel="stylesheet" href="../../../public/scripts/staff/style.css" type="text/css">
    <script type="text/javascript" src="../../../public/scripts/staff/index.js" defer></script>

</head>
<body>
<!-- sidebar -->
<nav id="sidebar">
    <ul>
        <!-- name + logo -->
        <li>
            <span class="logo">
                <span class="img-div">
                    <img src="../../../public/img/nadine_logo.png" alt="NDNE">
                </span>
                Nadine Hotel
            </span>
            <!-- close sidebar btn -->
            <button onclick=toggleSidebar() id="toggle-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"/></svg>
            </button>
        </li>
        <!-- Dropdown Tables -->
        <li>
            <button onclick=toggleSubMenu(this) class="dropdown-btn" id="crud">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm240-240H200v160h240v-160Zm80 0v160h240v-160H520Zm-80-80v-160H200v160h240Zm80 0h240v-160H520v160ZM200-680h560v-80H200v80Z"/></svg>
                <span>TABLES</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
            </button>
            <ul class="sub-menu">
                <div>
                    <li><a href="index.php?menu=reservasi" class="table-link">Reservasi</a></li>
                    <li><a href="index.php?menu=tipekamar" class="table-link">Tipe Kamar</a></li>
                    <li><a href="index.php?menu=kamar" class="table-link">Kamar</a></li>
                    <li><a href="index.php?menu=maintenance" class="table-link">Maintenance</a></li>
                    <li><a href="index.php?menu=akomodasi_ekstra" class="table-link">Akomodasi Ekstra</a></li>
                    <li><a href="index.php?menu=detail_reservasi" class="table-link">Detail Reservasi</a></li>
                    <li><a href="index.php?menu=detail_akomodasi_extra" class="table-link">Detail Akomodasi Ekstra</a></li>
                    <li><a href="index.php?menu=diskon_reservasi_awal" class="table-link">Diskon Reservasi Awal</a></li>
                </div>
            </ul>
        </li>
        <!-- Reservations btn -->
        <li>
            <a href="index.php?menu=check-in-today" class="table-link">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M200-120q-33 0-56.5-23.5T120-200v-160h80v160h560v-560H200v160h-80v-160q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm220-160-56-58 102-102H120v-80h346L364-622l56-58 200 200-200 200Z"/></svg>
                <span>Check In Today</span>
            </a>
        </li>
        <li>
            <a href="index.php?menu=check-out-today" class="table-link">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v255l-80 80v-175H200v400h248l80 80H200Zm0-560h560v-80H200v80Zm0 0v-80 80ZM662-60 520-202l56-56 85 85 170-170 56 57L662-60Z"/></svg>
                <span>Check Out Today</span>
            </a>
        </li>
        <li>
            <a href="index.php?menu=maintenance-today" class="table-link">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M280-720v-40q0-33 23.5-56.5T360-840h240q33 0 56.5 23.5T680-760v40h28q24 0 43.5 13.5T780-672l94 216q3 8 4.5 16t1.5 16v184q0 33-23.5 56.5T800-160H160q-33 0-56.5-23.5T80-240v-184q0-8 1.5-16t4.5-16l94-216q9-21 28.5-34.5T252-720h28Zm80 0h240v-40H360v40Zm-80 240v-40h80v40h240v-40h80v40h96l-68-160H252l-68 160h96Zm0 80H160v160h640v-160H680v40h-80v-40H360v40h-80v-40Zm200-40Zm0-40Zm0 80Z"/></svg>
                <span>Maintenance Today</span>
            </a>
        </li>
        <!-- Logout -->
        <li>
            <a href="index.php?menu=logout" class="table-link">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</nav>
<main style="position: relative;">
    <header>
        <h1>Nadine Hotel Staff</h1>
    </header>
    <div class="container">
        <h1>TEMPLATE STAFF</h1>
        <a href="index.php?reservasi-add" class="add-btn">
            Add New Reservasi
        </a>
        <table id="main-table" class="display">
            <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                <td>
                    <a href="index.php?menu=reservasi-edit" class="edit-btn">Edit</a>
                    <a href="index.php?menu=reservasi-delete" class="delete-btn">Delete</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Action</th>
            </tr>
            </tfoot>
        </table>
        <script>
            new DataTable('#main-table');
        </script>
    </div>
    </main>
</body>
</html>